{% extends 'charity/base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<section class="space">
        <div class="container">
            <div class="row gy-40 gx-80">
                <div class="col-xl-6">
                    <h2 class="title mt-n2 mb-25">Let’s join our community
                        to become a volunteer</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="page-img">
                                <img src="{% static 'assets/img/team/add_team_1_1.png' %}" alt="team">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="page-img">
                                <img src="{% static 'assets/img/team/add_team_1_2.png' %}" alt="team">
                            </div>
                        </div>
                    </div>
                    <h3 class="h5 mt-n2">Volunteer Requirements</h3>
                    <p class="mb-30">Discover the inspiring stories of individuals and communities transformed by our programs. Our success stories highlight the real-life impact of your donations and the resilience of those we help. These narratives showcase the power of compassion and generosity.</p>
                    <div class="checklist">
                        <ul>
                            <li><i class="fas fa-check-circle"></i>Making this first true generator simply text</li>
                            <li><i class="fas fa-check-circle"></i>Many desktop publish packages nothing</li>
                            <li><i class="fas fa-check-circle"></i>If you are going to passage</li>
                            <li><i class="fas fa-check-circle"></i>It has roots in a piece</li>
                            <li><i class="fas fa-check-circle"></i>Sed ut perspiciatis unde iste natus</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="add-team-form">
                        <form action="https://html.themeholy.com/donat/demo/mail.php" method="POST" class="contact-form ajax-contact">
                            <div class="row">
                                <div class="form-group style-border col-12">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name">
                                </div>
                                <div class="form-group style-border col-12">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Address">
                                </div>
                                <div class="form-group style-border col-12">
                                    <input type="number" class="form-control" name="number" id="number" placeholder="Phone Number">
                                </div>
                                <div class="form-group style-border col-md-6">
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Address">
                                </div>
                                <div class="form-group style-border col-md-6">
                                    <select name="subject" id="subject" class="form-select">
                                        <option value="" disabled selected hidden>Occupation</option>
                                        <option value="Volunteer">Volunteer</option>
                                        <option value="Health Advisor">Health Advisor</option>
                                        <option value="Supervisor">Supervisor</option>
                                    </select>
                                </div>
                                <div class="form-group style-border col-12">
                                    <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Type Your Message"></textarea>
                                </div>
                                <div class="form-btn col-12">
                                    <button class="th-btn style3">Send Request</button>
                                </div>
                            </div>
                            <p class="form-messages mb-0 mt-3"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>





{% endblock %}
